In [1]:
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash_html_components import Div, H1, H2, P, H3
from dash_core_components import Graph, Slider, Checklist, Dropdown
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
from datetime import datetime

C:\Users\marce\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas.4SP5SUA7CBGXUEOC35YP2ASOICYYEQZZ.gfortran-win_amd64.dll
C:\Users\marce\anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"
C:\Users\marce\AppData\Local\Temp\ipykernel_1872\3401770135.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
C:\Users\marce\AppData\Local\Temp\ipykernel_1872\3401770135.py:4: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

In [2]:
#2022
df_01 = pd.read_excel("Base_2022.xlsx", sheet_name = 'jan_fev')
df_02 = pd.read_excel("Base_2022.xlsx", sheet_name = 'mar_abr')
df_03 = pd.read_excel("Base_2022.xlsx", sheet_name = 'mai_jun')
df_04 = pd.read_excel("Base_2022.xlsx", sheet_name = 'jul_ago')
df_05 = pd.read_excel("Base_2022.xlsx", sheet_name = 'set_out')
df_06 = pd.read_excel("Base_2022.xlsx", sheet_name = 'nov_dez')

df_2022 =pd.merge(
    df_01, df_02, on = ['modelo', 'categoria']).merge(
    df_03, on =['modelo', 'categoria']).merge(
    df_04, on = ['modelo', 'categoria']).merge(
    df_05, on =['modelo', 'categoria']).merge(
    df_06, on =['modelo', 'categoria'])

df_2022 = pd.melt(df_2022, id_vars = ['modelo', 'categoria'], value_vars = 
                   ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'])
df_2022['variable'] = df_2022['variable'].str.lower()
df_2022['variable'] = df_2022['variable'].str.strip()

indice = [1,2,3,4,5,6,7,8,9,10,11,12]
meses = ['jan', 'fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
list_meses = ({'ordem':indice, 'meses': meses})
list_meses = pd.DataFrame (list_meses)

df_2022.rename(columns = {'variable': 'meses'},inplace = True) 
df_2022 = pd.merge(df_2022, list_meses, on =['meses']).sort_values('ordem')

categoria = df_2022.groupby (['categoria', 'meses', 'ordem']).sum().reset_index()
modelo = df_2022.groupby(['modelo', 'meses', 'ordem']).sum().reset_index()
df_2022 = pd.merge(categoria, modelo, on = ['meses'])

df_2022['ano']= 2022
df_2022

,categoria,meses,ordem_x,value_x,modelo,ordem_y,value_y,ano
0,City,abr,4,42701,BMW/F850 GS,4,238,2022
1,City,abr,4,42701,BMW/G310 GS,4,199,2022
2,City,abr,4,42701,BMW/R1250GS,4,311,2022
3,City,abr,4,42701,DAFRA/NH 190,4,217,2022
4,City,abr,4,42701,H.DAVIDSON/FL FBS,4,34,2022
...,...,...,...,...,...,...,...,...
3235,Trail/Fun,set,9,23233,YAMAHA/XTZ 250,9,3217,2022
3236,Trail/Fun,set,9,23233,YAMAHA/XTZ150,9,99,2022
3237,Trail/Fun,set,9,23233,YAMAHA/YBR 125,9,1089,2022
3238,Trail/Fun,set,9,23233,YAMAHA/YBR 150,9,2712,2022
3239,Trail/Fun,set,9,23233,YAMAHA/YS150 FAZER,9,1580,2022

In [3]:
# 2018
df_01 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha1')
df_02 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha2')
df_03 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha3')
df_04 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha4')
df_05 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha5')
df_06 = pd.read_excel("Base 2018.xlsx", sheet_name = 'Folha6')

df_2018 =pd.merge(
    df_01, df_02, on = ['modelo', 'categoria']).merge(
    df_03, on =['modelo', 'categoria']).merge(
    df_04, on = ['modelo', 'categoria']).merge(
    df_05, on =['modelo', 'categoria']).merge(
    df_06, on =['modelo', 'categoria'])

df_2018 = pd.melt(df_2018, id_vars = ['categoria', 'modelo'], value_vars = 
                   ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'])
df_2018['variable'] = df_2018['variable'].str.lower()
df_2018['variable'] = df_2018['variable'].str.strip()

indice = [1,2,3,4,5,6,7,8,9,10,11,12]
meses = ['jan', 'fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
list_meses = ({'ordem':indice, 'meses': meses})
list_meses = pd.DataFrame (list_meses)

df_2018.rename(columns = {'variable': 'meses'},inplace = True) 
df_2018 = pd.merge(df_2018, list_meses, on =['meses']).sort_values('ordem')

categoria = df_2018.groupby (['categoria', 'meses', 'ordem']).sum().reset_index()
modelo = df_2018.groupby(['modelo', 'meses', 'ordem']).sum().reset_index()
df_2018 = pd.merge(categoria, modelo, on = ['meses'])

df_2018['ano']= 2018
df_2018

,categoria,meses,ordem_x,value_x,modelo,ordem_y,value_y,ano
0,City,abr,4,33174,BMW/F800 GS,4,98,2018
1,City,abr,4,33174,BMW/G310,4,64,2018
2,City,abr,4,33174,BMW/G310 GS,4,134,2018
3,City,abr,4,33174,BMW/K 1600,4,3,2018
4,City,abr,4,33174,BMW/R1200,4,234,2018
...,...,...,...,...,...,...,...,...
6523,Trail/Fun,set,9,16371,YAMAHA/XTZ150,9,1850,2018
6524,Trail/Fun,set,9,16371,YAMAHA/YBR 125,9,594,2018
6525,Trail/Fun,set,9,16371,YAMAHA/YBR 150,9,2263,2018
6526,Trail/Fun,set,9,16371,YAMAHA/YS150 FAZER,9,826,2018
6527,Trail/Fun,set,9,16371,YAMAHA/YZF R3,9,175,2018

In [4]:
# 2019

df_01 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha12')
df_02 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha1')
df_03 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha7')
df_04 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha8')
df_05 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha9')
df_06 = pd.read_excel("Base_2019.xlsx", sheet_name = 'Folha10')

df_2019 =pd.merge(
    df_01, df_02, on = ['modelo', 'categoria']).merge(
    df_03, on =['modelo', 'categoria']).merge(
    df_04, on = ['modelo', 'categoria']).merge(
    df_05, on =['modelo', 'categoria']).merge(
    df_06, on =['modelo', 'categoria'])

df_2019 = pd.melt(df_2019, id_vars = ['categoria', 'modelo'], value_vars = 
                   ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'])
df_2019['variable'] = df_2019['variable'].str.lower()
df_2019['variable'] = df_2019['variable'].str.strip()

indice = [1,2,3,4,5,6,7,8,9,10,11,12]
meses = ['jan', 'fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
list_meses = ({'ordem':indice, 'meses': meses})
list_meses = pd.DataFrame (list_meses)

df_2019.rename(columns = {'variable': 'meses'},inplace = True) 
df_2019 = pd.merge(df_2019, list_meses, on =['meses']).sort_values('ordem')

categoria = df_2019.groupby (['categoria', 'meses', 'ordem']).sum().reset_index()
modelo = df_2019.groupby(['modelo', 'meses', 'ordem']).sum().reset_index()
df_2019 = pd.merge(categoria, modelo, on = ['meses'])

df_2019['ano']= 2019
df_2019

,categoria,meses,ordem_x,value_x,modelo,ordem_y,value_y,ano
0,City,abr,4,37072.0,BMW/K 1600,4,4.0,2019
1,City,abr,4,37072.0,BMW/S1000,4,74.0,2019
2,City,abr,4,37072.0,H.DAVIDSON/FL FB,4,110.0,2019
3,City,abr,4,37072.0,H.DAVIDSON/FL FBS,4,39.0,2019
4,City,abr,4,37072.0,H.DAVIDSON/FL HC,4,2.0,2019
...,...,...,...,...,...,...,...,...
1531,Touring,set,9,125.0,YAMAHA/FAZER 250,9,2058.0,2019
1532,Touring,set,9,125.0,YAMAHA/YBR 125,9,839.0,2019
1533,Touring,set,9,125.0,YAMAHA/YBR 150,9,1805.0,2019
1534,Touring,set,9,125.0,YAMAHA/YS150 FAZER,9,906.0,2019
1535,Touring,set,9,125.0,YAMAHA/YZF R3,9,166.0,2019

In [5]:
# base 2020

df_01 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha1')
df_02 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha2')
df_03 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha3')
df_04 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha4')
df_05 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha5')
df_06 = pd.read_excel("Base_2020.xlsx", sheet_name = 'Folha6')


df_2020 =pd.merge(
    df_01, df_02, on = ['modelo', 'categoria']).merge(
    df_03, on =['modelo', 'categoria']).merge(
    df_04, on = ['modelo', 'categoria']).merge(
    df_05, on =['modelo', 'categoria']).merge(
    df_06, on =['modelo', 'categoria'])

df_2020 = pd.melt(df_2020, id_vars = ['categoria', 'modelo'], value_vars = 
                   ['jan', 'fev', 'mar', 'abr', 'MAI', 'JUN', 'Jul', 'Ago', 'set', 'out', 'Nov', 'Dez'])
df_2020['variable'] = df_2020['variable'].str.lower()
df_2020['variable'] = df_2020['variable'].str.strip()

indice = [1,2,3,4,5,6,7,8,9,10,11,12]
meses = ['jan', 'fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
list_meses = ({'ordem':indice, 'meses': meses})
list_meses = pd.DataFrame (list_meses)

df_2020.rename(columns = {'variable': 'meses'},inplace = True) 
df_2020 = pd.merge(df_2020, list_meses, on =['meses']).sort_values('ordem')

categoria = df_2020.groupby (['categoria', 'meses', 'ordem']).sum().reset_index()
modelo = df_2020.groupby(['modelo', 'meses', 'ordem']).sum().reset_index()
df_2020 = pd.merge(categoria, modelo, on = ['meses'])

df_2020['ano']= 2020
df_2020

,categoria,meses,ordem_x,value_x,modelo,ordem_y,value_y,ano
0,City,abr,4,10861,BMW/F750 GS,4,25,2020
1,City,abr,4,10861,BMW/F850 GS,4,107,2020
2,City,abr,4,10861,BMW/G310 GS,4,36,2020
3,City,abr,4,10861,BMW/K 1600,4,0,2020
4,City,abr,4,10861,BMW/R1250GS,4,76,2020
...,...,...,...,...,...,...,...,...
6427,Trail/Fun,set,9,18560,YAMAHA/XTZ150,9,2318,2020
6428,Trail/Fun,set,9,18560,YAMAHA/YBR 125,9,980,2020
6429,Trail/Fun,set,9,18560,YAMAHA/YBR 150,9,2477,2020
6430,Trail/Fun,set,9,18560,YAMAHA/YS150 FAZER,9,1210,2020
6431,Trail/Fun,set,9,18560,YAMAHA/YZF R3,9,226,2020

In [6]:
# base 2021
df_01 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha1')
df_02 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha2')
df_03 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha3')
df_04 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha4')
df_05 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha5')
df_06 = pd.read_excel("Base_2021.xlsx", sheet_name = 'Folha6')


df_2021 =pd.merge(
    df_01, df_02, on = ['modelo', 'categoria']).merge(
    df_03, on =['modelo', 'categoria']).merge(
    df_04, on = ['modelo', 'categoria']).merge(
    df_05, on =['modelo', 'categoria']).merge(
    df_06, on =['modelo', 'categoria'])

df_2021 = pd.melt(df_2021, id_vars = ['categoria', 'modelo'], value_vars = 
                   ['Jan', 'fev', 'mar ', 'abr', 'mai ', 'jun', 'ago', 'set', 'out', 'nov', 'dez'])
df_2021['variable'] = df_2021['variable'].str.lower()
df_2021['variable'] = df_2021['variable'].str.strip()

indice = [1,2,3,4,5,6,7,8,9,10,11,12]
meses = ['jan', 'fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez']
list_meses = ({'ordem':indice, 'meses': meses})
list_meses = pd.DataFrame (list_meses)

df_2021.rename(columns = {'variable': 'meses'},inplace = True) 
df_2021 = pd.merge(df_2021, list_meses, on =['meses']).sort_values('ordem')

categoria = df_2021.groupby(['categoria', 'meses', 'ordem']).sum().reset_index()

modelo = df_2021.groupby(['modelo', 'meses', 'ordem']).sum().reset_index()

df_2021 = pd.merge(categoria, modelo, on =['meses'])
df_2021

df_2021['ano'] = 2021
df_2021

,categoria,meses,ordem_x,value_x,modelo,ordem_y,value_y,ano
0,City,abr,4,39392,BMW/G310 GS,4,213,2021
1,City,abr,4,39392,BMW/R1250 RT,4,1,2021
2,City,abr,4,39392,BMW/S1000 RR,4,77,2021
3,City,abr,4,39392,DAFRA/NH 190,4,143,2021
4,City,abr,4,39392,DUCATI/PANIGALE V4,4,11,2021
...,...,...,...,...,...,...,...,...
4153,Trail/Fun,set,9,23618,YAMAHA/XTZ150,9,3417,2021
4154,Trail/Fun,set,9,23618,YAMAHA/YBR 125,9,1624,2021
4155,Trail/Fun,set,9,23618,YAMAHA/YBR 150,9,3337,2021
4156,Trail/Fun,set,9,23618,YAMAHA/YS150 FAZER,9,1584,2021
4157,Trail/Fun,set,9,23618,YAMAHA/YZF R3,9,227,2021

In [7]:
df = pd.concat([df_2018,df_2019,df_2020, df_2021, df_2022])
df.rename (columns = {'value_x': 'Qtd_Categoria', 'value_y':'Qtd_Modelo'}, inplace = True)

# resetar o index devido o concat nÃ£o gerar um novo index, assim temos dois 0 repetidos

df.reset_index(drop= True, inplace = True)

In [8]:
df = df[['categoria', 'meses', 'ordem_x', 'Qtd_Categoria' , 'modelo', 'Qtd_Modelo', 'ano' ]]
df

,categoria,meses,ordem_x,Qtd_Categoria,modelo,Qtd_Modelo,ano
0,City,abr,4,33174.0,BMW/F800 GS,98.0,2018
1,City,abr,4,33174.0,BMW/G310,64.0,2018
2,City,abr,4,33174.0,BMW/G310 GS,134.0,2018
3,City,abr,4,33174.0,BMW/K 1600,3.0,2018
4,City,abr,4,33174.0,BMW/R1200,234.0,2018
...,...,...,...,...,...,...,...
21889,Trail/Fun,set,9,23233.0,YAMAHA/XTZ 250,3217.0,2022
21890,Trail/Fun,set,9,23233.0,YAMAHA/XTZ150,99.0,2022
21891,Trail/Fun,set,9,23233.0,YAMAHA/YBR 125,1089.0,2022
21892,Trail/Fun,set,9,23233.0,YAMAHA/YBR 150,2712.0,2022
21893,Trail/Fun,set,9,23233.0,YAMAHA/YS150 FAZER,1580.0,2022

In [9]:
df['data'] = df['ordem_x'].map(str) +'-'+ df['ano'].map(str)


df['data_completa'] = pd.to_datetime(df['data'], format = '%m-%Y')
df['meses_ano'] = df['meses'].map(str) + '-' + df['ano'].map(str)
df= df.sort_values(by = 'data_completa')

df.dtypes

categoria                object
meses                    object
ordem_x                   int64
Qtd_Categoria           float64
modelo                   object
Qtd_Modelo              float64
ano                       int64
data                     object
data_completa    datetime64[ns]
meses_ano                object
dtype: object

In [ ]:
# Dash com duas colunas
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash_html_components import Div, H1, P, H3
from dash_core_components import Graph, Dropdown, Slider, Checklist
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
from dash.dependencies import Input, Output

modelo = df ['modelo'].unique()

categoria = df ['categoria'].unique()
value_ano = df['ano'].unique()
value_ano = [*map(int, value_ano)]
value_ano

ano = value_ano

app = dash.Dash (__name__, external_stylesheets = [dbc.themes.CYBORG])

fig2 = go.Figure(layout = {"template": "plotly_dark"})
fig2.add_trace (go.Bar (x= df ['data'], y = df ['categoria'], name= 'categoria',
                            text = df ['categoria'], textfont = dict(color= "white")))



fig2.add_trace (go.Scatter (x= df ['data'], y = df ['modelo'], name = 'modelo', text = df['modelo'], 
                        textfont = dict(color= "white")))

fig2.update_xaxes(tickangle = 45, tickfont_size= 10, dtick="M1", tickformat="%b\n%Y")

fig2.update_layout(paper_bgcolor ="#242424", 
                   plot_bgcolor = "#242424",
                   autosize= True,
                margin=dict(l=10,r=10,t=10,b=10)
                  )


app.layout = dbc.Container(
    dbc.Row([
        dbc.Col([
            html.Div([
                html.H5("Serie hitÃ³rica - Emplacamento", style = {"margin-top": "20px"})           
                ]),
                html.P("Categoria", style = {"margin-top": "5px"}),
                html.Div(id = "div-test",children=[
                dcc.Dropdown(id="drop_down",
                             options = [{'label':i,'value':i} for i in categoria
                                                                                
                             ],
                             value = "City"
                ),
                html.P("Modelo", style = {"margin-top": "5px"}),
                 dcc.Dropdown(id="filtro",
                             options = [{'label':i,'value':i} for i in modelo
                                                                                
                             ],
                             value = "HONDA/CG 160"
                ),
                html.P("Ano", style = {"margin-top": "5px"}),
                 dcc.Dropdown(id="ano",
                             options = [{'label':i,'value':i} for i in ano
                                                                                
                             ],
                              multi= True,
                              value = [2018,2019,2020,2021,2022]
                ),    
            ]),                            
            #dcc.Graph(id= "line-graph", figure = fig2)
        ],md=3 ),
        dbc.Col([
            dcc.Loading(id = "loading-1", type = "default", 
                       children=[
                           dcc.Graph(id= "line-graph", figure = fig2, style = {"height":"100vh"})
                       ]),
        ],md = 9)
    ])
, fluid = True)

@app.callback(
    Output('line-graph', 'figure'),
    [Input('drop_down','value'),
    Input ('filtro', 'value'),
    Input('ano', 'value')])  
    
    
def update_output(value_x, value_y, value_ano):
    df_merge = df[df['categoria']== value_x] [df['modelo']== value_y] [df['ano'].isin(value_ano)]
    #[(df['ano'] == value_ano[0]) | (df['ano'] == value_ano[1])]
    
    
    fig2 = go.Figure(layout = {"template": "plotly_dark"})
    fig2.add_trace (go.Bar (x= df_merge['data'], y = df_merge['Qtd_Categoria'], name=  value_x,
                            text = df_merge ['Qtd_Categoria'], textfont = dict(color= "white")))
    
    fig2.add_trace (go.Scatter(x= df_merge['data'], y = df_merge['Qtd_Modelo'], name= value_y,
                            text = df_merge['Qtd_Modelo'], marker_symbol = 'square', marker_size = 10,
                              textfont = dict(color= "white")))
    fig2.update_xaxes(tickangle = 45, tickfont_size= 10, dtick="M1", tickformat="%b\n%Y")
    
    return fig2
    
    

if __name__ == '__main__':
    app.run_server(debug = True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: on

C:\Users\marce\AppData\Local\Temp\ipykernel_1872\196969544.py:92: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.